.edit-button {
    margin-right: 8px;
}

.text-right {
  text-align: right;
}

.actions-column {
  border-right: none !important;
}

.bold {
  font-weight: bold;
}

.required{
  color: red;
}

.nav{
  margin-left: 20px !important;
}

.cancelButton {
  margin-left: 10px !important;
}